
+104
Lines changed: 104 additions & 0 deletions
Original file line number	Diff line number	Diff line change
@@ -0,0 +1,104 @@
/* Color Theme Swatches in Hex */
.Color-1-hex {color: #FFFFFF }
.Color-2-hex { color: #000000; }
/* Global styles */
body {
  background: #FFFFFF;
  color: #000000;
  font-family: 'Lato', sans-serif;
}
/* Typography */
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
 
/* Layout */
.p {
  font-size: 0.8rem;
}
.spacer {
  /* height: 500px;
  width: 300px; */
}
/* revisit this and see if it works for nav */
.nav .a:link {
  text-decoration: none;
}
[hidden] {
  display: none;
}
/* Button Styling */
body {
	background: #FFFFFF;
	font-family: "Lato";
	margin: 0;
	padding: 0;
}
.container {
	background: #FFFFFF;
	height: 50%;
	width: 50%;
	height: 50vh;
	margin: 8 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.link {
	color: #000000;
	cursor: pointer;
	text-decoration: none;
	height: 50%;
	width: 50%;
	max-height: 50vmin;
	max-width: 40vmin;
  border: none;
  font-family: 'Lato', sans-serif;
	font-size: 2vmin;
	font-variation-settings: "wght" 162;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: font-variation-settings 0.4s;
	user-select: none;
	display: flex;
	justify-content: left;
	align-items: left;
}
.link:hover {
	font-variation-settings: "wght" 662;
}
/* end Button Styling */
